@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <h1 class="display-4 mb-2">Chào mừng các anh em đến với kênh <br /> Coding With Thinh</h1>
</div>

<div class="container">
  <div class="row slide shadow">
    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div id="carouselExampleSlidesOnly" class="carousel rounded" data-bs-ride="carousel">
        <div class="carousel-inner h-100">
          <div class="carousel-item active h-100">
            <img src="/images/carousel/7174177733-6c0af1a0b2-b-4778-1583317457.jpg" class="d-block w-100 h-100" alt="...">
          </div>
          <div class="carousel-item h-100">
            <img src="/images/carousel/cach-lam-banh-canh-1.jpg" class="d-block w-100 h-100" alt="..." />
          </div>
          <div class="carousel-item h-100">
            <img src="/images/carousel/dac-san-tay-bac-2.jpg" class="d-block w-100 h-100" alt="..." />
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">

      <div class="mb-3">
        <h2>Lấy <span class="text-success fst-italic">Thức Ăn</span> Từ Quán Ăn</h2>
      </div>
      <div class="mb-3 p-3">
        <span><i class="fa-solid fa-seedling text-success mx-2 fs-4"></i></span>
        <span class="fs-5 text-dark">Thức Ăn Có Lợi Cho Sức Khỏe</span>
      </div>

      <div class="mb-3 p-3">
        <i class="fa-solid fa-bottle-water text-success mx-2 fs-4"></i>
        <span class="fs-5 text-dark">Nước Ngọt Đóng Chai</span>
      </div>

      <div class="mb-3 p-3">
        <i class="fa-solid fa-bottle-water text-success mx-2 fs-4"></i>
        <span class="fs-5 text-dark">Nước Ép Trái Cây</span>
      </div>
      <div class="mb-3 p-3">
        <i class="fa-solid fa-hotdog text-success mx-2 fs-4"></i>
        <span class="fs-5 text-dark">Đồ Ăn Nhanh</span>
      </div>
    </div>
  </div>
</div>