<div class="shadow rounded">
  <div class="p-2">
    <form autocomplete="off">
      <div class="mb-3 row">
        <div class="col-9 text-center ui-widget">
          <input id="tags" type="text" placeholder="Tìm món ăn trong thực đơn" class="form-control" name="recipe" />
        </div>
        <div class="col-3">
          <button type="submit" class="btn btn-sm p-2 btn-success">Tìm kiếm</button>
        </div>
      </div>
    </form>
  </div>
</div>